<div class="bg-gray-200 h-10 w-full mt-3 rounded-sm flex shadow-md" *ngFor="let item of todoList; let i = index">
    <p class="w-10/12 pl-2 pt-3">{{i+1}}. {{item}}</p>
    <button class="w-2/12 flex justify-center items-center text-white bg-red-500" (click)="deleteTodoList(i)">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z"/></svg>
    </button>
</div>
